<p>Liebe(r) {{order.orderCustomer.firstName}} {{order.orderCustomer.lastName}},</p>
<p>Ihr persönlicher WeRepack Gutscheincode lautet "{{ promotionCode }}". Der Gutschein kann mit Eingabe des angegebenen Codes in unserem Onlineshop <a href='{{ salesChannel.domains|first.url }}'>{{ salesChannel.domains|first.url }}</a> eingelöst werden.</p>
<p>Ihr Team von {{ salesChannel.name }}</p>